S3method(print,vacttmle)
export(as_va_data)
export(as_va_switch_data)
export(est_discrete_ltmle)
export(run_vacttmle_toy_checks)
export(snap_to_grid)
export(simulate_va_switch_trial)
export(simulate_va_trial)
export(va_ct_gcomp)
export(va_ct_switch)
export(va_ct_tmle)
export(va_visit_tmle)
export(validate_va_data)
import(data.table)
importFrom(stats,as.formula,binomial,glm,lm,optimize,plogis,poisson,predict,qlogis,quantile,rbinom,rexp,rnorm,runif,sd,setNames,sigma,uniroot,var)
importFrom(utils,packageVersion)
